* {
  margin: 0;
  padding: 0;
 }


body {
  font-family: 'Lora', serif;
  background-color: #AFBBD1;
  text-align: center;
  color: #272932;
  margin-left: 10%;
  margin-right:10%;
}

header {
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: solid 2px #272932;
  text-align: center;
  color: #272932;
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  text-align: left;
  text-indent: 50px;
  margin-bottom: 10px;
}

ul li{
  list-style-type: none;
}

ul {
  margin-top: 75px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

button {
  margin-top: 30px;
  padding: 15px;
  visibility: hidden;
  margin-bottom: 30px;
}

img {
  box-shadow: 8px 8px 10px #aaa;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  border-top: solid 2px #272932;
}

footer p {
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
}

.bus-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-bus {
  width: 10%;
  height: 10%;
  box-shadow: none;
  margin-bottom: 5px;
  background-image: repeat-x;
}
