* {
  margin: 0;
  padding: 0;
 }


body {
  background-color: #AFBBD1;
  text-align: center;
  color: #272932;
  margin-left: 10%;
  margin-right:10%;
}

header {
  height: 100px;
  margin-bottom: 20px;
  border-bottom: solid 2px #272932;
  text-align: right;
  color: #272932;
}

h1 {
  margin-top: 5px;
}

ul li{
  list-style-type: none;
}

ul {
  margin-top: 75px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

button {
  margin-top: 30px;
  padding: 15px;
  visibility: hidden;
  margin-bottom: 30px;
}

img {
  box-shadow: 8px 8px 10px #aaa;
  margin-left: 10px;
  margin-right: 10px;
}
