body {
  background-color: pink;
}

section {
}

ul li{
  list-style-type: none;
}

ul {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  display: block;
  padding: 15px;
}
